/* BODY */
body{
    background-color: #151F5E;
    font-family: 'Sarabun', Arial;
    margin-top: 0%;
}

@font-face {
    font-family: 'Sarabun';
    src: url(assets/fonts/Sarabun-Regular.ttf);
    src: url(assets/fonts/Sarabun-Bold.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(assets/fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: 'Grafont';
    src: url(assets/fonts/ZTGrafton-Regular.ttf);
}

*::selection{
    background-color: #70d6d6;
    color: #11194D;
}

html{
    scroll-behavior: smooth;
}

/* NAV */
nav{
   display: flex;
   justify-content: space-between;
   height: 10vh;
   margin-right: 5vw;
   margin-left: 5vw;
}

nav h1{
    font-family: 'Satisfy', sans-serif;
    color: #F5FFFF;
    font-size: 2.2vw;
    margin: 0;
    margin-top: 1.4vw;
}

/* ul */
nav ul{
    display: flex;
    margin-top: 1.4vw;
}

nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 3vw;
}

nav ul a{
    color: #F5FFFF;
    text-decoration: none;
}

nav ul a:hover{ 
    color: #dee6e6;
}

/* Animation Soulignement */
nav ul a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 10px 0;
  }
   
  nav ul a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 500ms ease;
  }
   
  nav ul a:hover:after {
    width: 100%;
  }


/* fr - en*/
nav a{
    color: #F5FFFF;
    text-decoration: none;
    margin-top: 1.4vw;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    height: 90vh;
    margin-right: 5vw;
    margin-left: 5vw;
}

header H1{
    color: #dcffff;
    font-size: 5vw;
    line-height: 4vw;
    font-weight: bold;
    margin-left: 6vw;
}

header img{
    width: 25vw;
}

header p{
    color: #F5FFFF;
    font-size: 1.3vw;
    position: absolute;
    margin-left: 80vw;
}

/* Apparition H1 */

#h1-wrapper{
    transition-delay: 0.3s;
}

#h1-1{
    transition-delay: 0.8s;
}

#h1-2{
    transition-delay: 1.1s;
}

.wrapper{
    perspective: 750px;
}

.appear{
    opacity: 0;
    transform: translateY(100%) rotateX(-80deg);
    transform-origin: top center;
    transform-style: preserve-3d;
    transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.appear.is-inview{
    opacity: 1;
    transition-delay: 1s;
    transform: none;
}

/* Clignote Animation */
header p{
    user-select: none;
    animation: clignote 2.5s linear infinite;
}

@keyframes clignote{
    50% {opacity: 0; } 
}

/* SECTION - ABOUT ME */

.about{
    background-color: #DCFFFF;
    color: #11194D;
    height: 100vh;
    margin: 0%;
}

.about h2{
    font-family: 'Sarabun', sans-serif;
    font-size: 3.5em;
    text-align: center;
    padding-top: 5vw;
}

.about p{
    font-family: 'Sarabun', sans-serif;
    font-size: 1.2em;
    text-align: center;
    margin-top: 8vw;
}

/* SECTION - SKILLS */

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.skills h2{
    font-family: 'Sarabun', sans-serif;
    color: #DCFFFF;
    font-size: 3.5em;
    text-align: center;
    padding-top: 5vw;
}

.big_box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 8vw;
}

/* Box */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 350px;
}

.box{
    background-color: #F5FFFF;
    border-radius: 20%;
    padding: 1vw;
}

.pourcent{
    position: relative;
}

/* Box 1 */
#un svg circle{
    fill: none;
    stroke: #70d6d6;
    stroke-width: 8px;
    transform: translate(55px ,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: circle-1 2s forwards;
    stroke-linecap: round;
}

@keyframes circle-1{
    to{
        stroke-dashoffset: 88;
    }
}

/* Box 2 */
#deux svg circle{
    fill: none;
    stroke: #70d6d6;
    stroke-width: 8px;
    transform: translate(55px ,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: circle-2 2s forwards;
    stroke-linecap: round;
}

@keyframes circle-2{
    to{
        stroke-dashoffset: 154;
    }
}

/* Box 3 */
#trois svg circle{
    fill: none;
    stroke: #70d6d6;
    stroke-width: 8px;
    transform: translate(55px ,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: circle-3 2s forwards;
    stroke-linecap: round;
}

@keyframes circle-3{
    to{
        stroke-dashoffset: 352;
    }
}

/* Box 4 */
#quatre svg circle{
    fill: none;
    stroke: #70d6d6;
    stroke-width: 8px;
    transform: translate(55px ,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: circle-4 2s forwards;
    stroke-linecap: round;
}

@keyframes circle-4{
    to{
        stroke-dashoffset: 220;
    }
}

.box span{
    font-family: monospace;
    color: #787e80;
    font-size: 2vw;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box h3{
    font-family: 'Grafont', Arial, sans-serif;
    color: #3f3d3d;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
}
