/* BODY */
body{
    background-color: #151F53;
    font-family: 'Sarabun', Arial;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 0%;
}

@font-face {
    font-family: 'Sarabun';
    src: url(assets/fonts/Sarabun-Regular.ttf);
    src: url(assets/fonts/Sarabun-Bold.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(assets/fonts/Satisfy-Regular.ttf);
}

*::selection{
    background-color: #DCFFFF;
    color: #11194D;
}

html{
    scroll-behavior: smooth;
}

/* NAV */
nav{
   display: flex;
   justify-content: space-between;
   height: 10vh;
}

nav h1{
    font-family: 'Satisfy', sans-serif;
    color: #F5FFFF;
    font-size: 2.2vw;
    margin: 0;
    margin-top: 1.4vw;
}

/* ul */
nav ul{
    display: flex;
    margin-top: 1.4vw;
}

nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 3vw;
}

nav ul a{
    color: #F5FFFF;
    text-decoration: none;
}

nav ul a:hover{ 
    color: #dee6e6;
}

/* fr */

nav a{
    color: #F5FFFF;
    text-decoration: none;
    margin-top: 1.4vw;
}

/* HEADER */
header{
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    height: 90vh;
}

header H1{
    color: #dcffff;
    font-size: 5vw;
    line-height: 4vw;
    font-weight: bold;
    margin-left: 6vw;
}

header p{
    color: #F5FFFF;
    font-size: 1.2vw;
    position: fixed;
    bottom: 0;
    margin-left: 85vw;
}