/* BODY */
body{
    background-color: #151F53;
    margin-right: 5%;
    margin-left: 5%;
}

@font-face {
    font-family: 'Sarabun';
    src: url(assets/fonts/Sarabun-Regular.ttf);
}

@font-face {
    font-family: 'Satisfy';
    src: url(assets/fonts/Satisfy-Regular.ttf);
}

/* NAV */
nav{
   display: flex;
   justify-content: space-between; 
}

nav h1{
    font-family: 'Satisfy', sans-serif;
    color: #F5FFFF;
    font-size: 1.7em;
}

/* ul */
nav ul{
    display: flex;
}

nav ul li{
    font-family: 'Sarabun', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
    margin-right: 30px;
}

nav ul a{
    color: #F5FFFF;
    text-decoration: none;
}

nav ul a:hover{ 
    text-decoration: underline;
}

/* fr */

nav a{
    font-family: 'Sarabun', sans-serif;
    color: #F5FFFF;
    text-decoration: none;
    margin-top: 20px;
}